---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Manifesto from '../components/Manifesto.astro';
import Services from '../components/Services.astro';
import Calculator from '../components/Calculator.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import '../styles/global.css';
---

<Layout title="ACE Accountable | F*ck the IRS (Legally) | Connecticut Artist Bookkeeping">
  <Navigation />
  <main>
    <Hero />
    <Manifesto />
    <Services />
    <Calculator />
    <Testimonials />
    <Contact />
  </main>
</Layout>