---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Calculator from '../components/Calculator.astro';
import Resources from '../components/Resources.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import StickyContact from '../components/StickyContact.astro';
import '../styles/global.css';
---

<Layout title="ACE Accountable Bookkeeping | Jenna Lombardo CPA | Connecticut Bookkeeping Services">
  <Navigation />
  <main>
    <Hero />
    <About />
    <Services />
    <Calculator />
    <Resources />
    <Testimonials />
    <Contact />
  </main>
  <StickyContact />
</Layout>